
#containerr {
    display: grid;
    width: 100vw;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-areas: 
    'hdd'
    'ass'
    'mnn'
    'ftt'
}

#hemmah{ 
    grid-area: hdd;
    background-color:#52796F;
    background-image: url("../img/forest.jpeg");
    background-size: 100%;
    width: auto;
    height: 200px;


    
}

h5 {
    text-align: center;
    color: white;
    text
}

#mitten {
    grid-area: mnn;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(70, 70, 70);
    padding: 5px;
    text-align: center;

}

#vidsida {
    grid-area: ass;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#nere {
    grid-area: ftt;
    background-color: #354F52;
    border-radius: 5px;
    color: white;
}



#container {
    display: grid;
    width: 100vw;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-areas: 
    'nav '
    'hd'
    'mn'
    'as'
    'ft'

}

nav{
grid-area: nav;
background-color:rgb(255, 255, 255);
border-radius: 2px;
border : solid 1px rgb(36, 24, 10);
width: 200px;
text-align: center;
}

h1{
    background-color: black;
    width:30%;
}

header{ 
    grid-area: hd;
    background-color:#52796F;
    border-radius: 5px;
    background-image: url("../img/forest.jpeg");
    background-size: 70%;

    
}

#foodc {
    border-radius: 5px;
    color: rgb(70, 70, 70);

}

main {
    grid-area: mn;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(70, 70, 70);
    padding: 5px;
    text-align: center;
    
}

aside {
    grid-area: as;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;


   
}

h2 {
    color : rgb(70, 70, 70);
}
   
footer {
    grid-area: ft;
    background-color: #354F52;
    border-radius: 5px;
    color: white;
}

h1 {

    text-align: center;
    color : rgb(255, 255, 255);

}

#varg {
    margin: auto;
    height: auto;
    width: 50%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
   
}

#vargg {
    margin: auto;
    height: auto;
    width: 15%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
    float: left;
   
}

#bbear {
    margin: auto;
    height: auto;
    width: 50%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
}

#bbearr {
    margin: auto;
    height: auto;
    width: 15%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
    float: left;
}

#wolv {

    margin: auto;
    height: auto;
    width: 50%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
   
}

#wolvv {

    margin: auto;
    height: auto;
    width: 15%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
    float: left;
}



