
#containerr {
    display: grid;
    width: auto;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-areas: 
    'hdd'
    'nv'
    'mnn'
    'ass'
    'ftt'
}

#containe {
    display: grid;
    width:75%;
    height:200px;
    margin:auto;
    grid-template-areas:
    'sc1';
    border: solid 3px #3301;
}

#sok {
    width: 40%;
}

#hemn {
    grid-area: nv;
    width: auto;
    text-align: left;
    background-color: rgb(49, 49, 49) ;
    height: 130%;
}

#hemk {
    text-align: left;
}

#hemmah{ 
    grid-area: hdd;
    background-image: url("../img/forest.jpeg");
    background-size: 70%;
    width: auto;
    height: 200px;
    
}

#mark {
    height: auto;
    width: 150px;
    padding: 5px;
}

h5 {
    text-align: center;
    color: white;
}

#mitten {
    grid-area: mnn;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(70, 70, 70);
    padding: 5px;
    text-align: center;

}

#vidsida {
    grid-area: ass;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

#nere {
    grid-area: ftt;
    background-color: #354F52;
    border-radius: 5px;
    color: white;
}



#container {
    display: grid;
    width: 100vw;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-areas: 
    'nav '
    'hd'
    'mn'
    'as'
    'ft'

}

nav{
grid-area: nav;
background-color:rgb(255, 255, 255);
border-radius: 2px;
border : solid 1px rgb(36, 24, 10);
width: 200px;
text-align: center;
}

h1{
    background-color: rgb(27, 27, 27);
    width:30%;
}


#foodc {
    border-radius: 5px;
    color: rgb(70, 70, 70);

}

header{ 
    grid-area: hd;
    background-color:#52796F;
    border-radius: 5px;
    background-image: url("../img/forest.jpeg");
    background-size: 70%;
    
}

main {
    grid-area: mn;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(70, 70, 70);
    padding: 5px;
    text-align: center;
}

aside {
    grid-area: as;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}

h2 {
    color : rgb(70, 70, 70);
}
   
footer {
    grid-area: ft;
    background-color: #354F52;
    border-radius: 5px;
    color: white;
}

h1 {
    text-align: center;
    color : rgb(255, 255, 255);
    width: 100%;
    font-size: 160%;
}

#varg {
    margin: auto;
    height: auto;
    width: 50%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
   
}

#vargg {
    margin: auto;
    height: auto;
    width: 30%;
    display:inline;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
   
}

#bbear {
    margin: auto;
    height: auto;
    width: 50%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
}

#bbearr {
 
    height: auto;
    width: 30%;
    display:inline;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
    
}

#wolv {

    margin: auto;
    height: auto;
    width: 50%;
    display:block;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);

}

#wolvv {

    margin: auto;
    height: auto;
    width: 30%;
    display:inline;
    border-radius: 4px;
    border : solid 1px rgb(255, 255, 255);
}



